<% obj.each do |e| %>
    <div class="row">

      <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg">
          <div class="article-title">
            <%= link_to e.title, article_path(e) %>
          </div>
          <div class="article-body">

            <td><%= truncate(e.description, length: 100) %></td>
            <div class="article-meta-details">
              <small>Created by: <%= e.user.username if e.user %> ,
                <%= time_ago_in_words(e.created_at) %> ago,
                last updated: <%= time_ago_in_words(e.updated_at) %> ago</small>
            </div>
          </div>
          <% if logged_in? && current_user == e.user %>
          <div class="article-actions">
            <%= link_to "Edit this article", edit_article_path(e), class: "btn btn-xs btn-primary" %>
            <%= link_to "Delete this article", article_path(e), method: :delete, data: {confirm: "Are you sure you want to delete this article?"}, class: "btn btn-xs btn-danger" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
<% end %>

