<h1>Showing selected article</h1>
<p>Title: <%= @article.title %></p>
<p>Decription: <%= @article.description %></p>
<p>Created_at: <%= @article.created_at %></p>
<p>Updated_at: <%= @article.updated_at %></p>
<%= link_to 'Edit this article', edit_article_path(@article) %> |
<%= link_to 'Back to articles listing', article_path %>